<div class="mt-auto">
    <div class="d-flex flex-column h-100">
        <!-- FOOTER -->
        <footer class="w-100 py-4 flex-shrink-0">
            <div class="container py-4">
                <div class="row gy-4 gx-5">
                    <div class="col-lg-6 col-md-6">
                        <h5 class="h1 text-white">Engage &lt;/&gt;</h5>
                        <p class=" mt-3 small footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do
                            eiusmod tempor incididunt.</p>
                    </div>
                    <div class="col-lg-2 col-md-6">

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <h5 class="text-white mb-3">Quick links</h5>
                        <ul class="list-unstyled">
                            <li><a class="footer-links" href="/">Home</a></li>
                            <li><a class="footer-links" href="/posts/blog">Blog</a></li>
                            <li><a class="footer-links" href="/posts/interview-experience">Interview</a></li>
                            <li><a class="footer-links" href="/posts/notice">Notice</a></li>

                        </ul>
                    </div>


                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/scripts/app.js"></script>
</body>

</html>