.navbar {
    background-color: rgb(26, 57, 99);
    /* position: inherit; */

}

.nav-link {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.2rem solid transparent;
}

.nav-link:hover {
    color: white;
    border-bottom: 0.2rem solid white;
}

.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    margin-left: 40px;
}

#nav-start {
    margin-left: 4rem;
}

.active {
    color: white;
    border-bottom: 0.2rem solid white;
}

#nav-end {
    margin-right: 4rem;
}

span.nav-link:hover {
    border-bottom: none;
    color: rgba(255, 255, 255, 0.5)
}

.navitem {
    padding: 0px 200px;
}

footer {
    background: rgb(26, 57, 99);
}

.footer-links {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.footer-text {
    color: rgba(255, 255, 255, 0.5);
}

.footer-links:hover {
    text-decoration: none;
    color: white;
}